@import "./colors-rose-pine.css";

/* *https://github.com/theCode-Breaker/riverwm/tree/main/waybar/river */
* {
    border: none;
    font-family: "JetbrainsMono Nerd Font";
    font-size: 15px;
    min-height: 25px;
    color: @font-color;
}

window#waybar {
    background: @base;
    border: solid @overlay;
    border-width: 0 2px 2px 2px;
    border-radius: 0 0 20px 20px;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
    background: @base;
    border: 1px solid @overlay;
    color: @font-color;
    padding: 0;
    margin: 0;
}

/* tooltip label {
    color: @font-color;
} */

/* all widgets */
box widget label {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 8px;
    padding: 0 9px 0 9px;
    border-radius: 15px;
    background: @overlay;
}

#window {
    transition: none;
    color: transparent;
    background: transparent;
}

#network {
    background: @network;
}

#battery {
    background: @battery;
}

#battery.bat0 {
    border-radius: 15px 3px 3px 15px;
}

#battery.bat1 {
    margin-left: 3px;
    border-radius: 3px 15px 15px 3px;
}

#battery.plugged {
    background-color: @overlay;
    color: @battery-plugged;
}

#battery.charging {
    background-color: @overlay;
    color: @battery-charging;
}

#battery.critical:not(.charging):not(.plugged) {
    background-color: @battery-critical;
    color: @overlay;
}

#battery.warning:not(.charging):not(.plugged) {
    background-color: @battery-warning;
    color: @overlay;
}

#clock {
    background: @clock;
    margin-right: 7px;
}

#tray {
    margin-left: 8px;
    padding: 0 9px 0 9px;
    color: #B5E8E0;
    /* background: transparent; */
    background: @base;
    border-bottom: 1px solid @overlay;
}

#custom-daynight {
    /* font-weight: bold; */
    font-size: 18px;
}

#custom-daynight.day {
    color: @daynight-day;
    /* border: 1px solid @daynight-day; */
}

#custom-daynight.night {
    color: @daynight-night;
    /* border: 1px solid @daynight-night; */
}

#custom-pomo,
#custom-pomo-info {
    /* font-weight: bold; */
    font-size: 18px;
}

#custom-pomo.paused,
#custom-pomo-info.paused {
    color: @pomo-pause;
}

#custom-pomo.running,
#custom-pomo.paused {
    border-radius: 15px 0px 0px 15px;
}

#custom-pomo-info.running,
#custom-pomo-info.paused {
    border-radius: 0px 15px 15px 0px;
    margin-left: 0px;
    font-size: 15px;
}

#custom-pomo.running,
#custom-pomo-info.running {
    background: @pomo-running;
    color: @overlay;
}

#custom-gpu {
    font-size: 22px;
}

#custom-gpu.running {
    background: @gpu-running;
    color: @gpu-running-txt;
    font-size: 15px;
}

#custom-battery-mode {}

#custom-battery-mode.ac {
    color: @battery-ac;
}

#custom-battery-mode.bat {
    color: @battery-bat;
    font-size: 20px;
}

#custom-battery-mode.manual.ac {
    background: @battery-ac;
}

#custom-battery-mode.manual.bat {
    background: @battery-bat;
    font-size: 20px;
}

#workspaces {
    padding: 0;
    border: solid @overlay;
    border-width: 0 0px 2px 0px;
}

#workspaces button {
    padding: 0;
}

#workspaces button:hover {
    background-color: @overlay;
}

#workspaces button:hover label {
    margin-bottom: -3px;
    border-bottom: 5px solid @rose;
}

#workspaces button label {
    background: @base;
    border-radius: 0;
    margin: 0;
}


#custom-spotify-metadata,
#custom-spotify-play-pause,
#custom-spotify-prev,
#custom-spotify-next,
#custom-spotify-quit {
    background: @overlay;
    color: @spotify;
}

#custom-spotify-metadata {
    min-width: 200px;
    margin-left: 7px;
    border-radius: 15px 0px 0px 15px;
    border-width: 1px 0 1px 1px;
}

#custom-spotify-prev {
    margin-left: 0px;
    border-radius: 0px 0px 0px 0px;
    border-width: 1px 0 1px 0;
}

#custom-spotify-play-pause {
    margin-left: 0px;
    border-radius: 0px 0px 0px 0px;
    border-width: 1px 0 1px 0;
}

#custom-spotify-next {
    border-radius: 0px 15px 15px 0px;
    margin-left: 0px;
    border-width: 1px 1px 1px 0;
}
