.pomo {

  .icon,
  .info {
    @include widget;

    /* font-weight: bold; */
    font-size: 18px;
  }

  .paused label {
    color: $pomo-pause;
  }

  .icon.running,
  .icon.paused {
    border-radius: 15px 0px 0px 15px;
  }

  .info.running,
  .info.paused {
    border-radius: 0px 15px 15px 0px;
    margin-left: 0px;
    font-size: 15px;
  }

  .running {
    background: $pomo-running;

    label {
      color: $overlay;
    }
  }
}
